    /* Общие настройки*/

body {
    font-family: 'PT sans', 'sans-serif';
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

h1,
h2,
h4,
h5 {
    font-weight: 700;
    color: #000;
}

h3 {
    font-weight: 400;
}

h2 {
    text-align: center;
}

.title {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 70px;
}

.title__main {
    font-size: 32px;
}

.title__text {
    font-size: 20px;
    width: 780px;
    margin: 0 auto;
}


/*Первый экран */

.header {
    background-color: #FCDB00;
    color: #000;
    padding-top: 58px;
    padding-bottom: 105px;
}

.menu {
    margin-top: 10px;
}

.menu__item {
    margin: 0 58px;
}

.menu__item a {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.menu__item a:hover {
    color: red;
}

.offer {
    margin-top: 117px;
}

.offer__title {
    font-size: 32px;
    margin-bottom: 15px;
}

.offer__intro {
    font-size: 20px;
    line-height: 1.3em;
}

.offer__text {
    font-size: 16px;
    margin-top: 15px;
    color: #555555;
    width: 400px;
}

.icons__item {
    margin-right: 30px;
}

.icons__item a {
    color: #000;
    font-size: 42px;
    transition: all 0.3s ease;
}

.icons__item a:hover {
    text-decoration: none;
    color: red;
}

.ipad {
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}


/*  Вторая секция */

.feature {
    margin-bottom: 76px;
}

.feature__icon {
    font-size: 50px;
    margin-right: 35px;
    color: #000;
}

.feature__text {
    color: #898989;
}


/* 3 секция */

.yellow {
    color: #FCDB00;
}

.touch {
    background: #010101;
    color: #fff;
}

.form {
    text-align: center;
}

.form__input {
    background: #fff;
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
    border-radius: 7px;
    width: 580px;
    padding: 15px 0;
    margin-right: 20px;
    outline: none;
    margin: 0 auto;
}

.form__btn {
    font-family: 'PT Sans', sans-serif;
    background: #FCDB00;
    color: #000;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    border-radius: 7px;
    border: 0;
    width: 140px;
    padding: 14px 0;
    cursor: pointer;
}
.form__btn:hover{

}


/* Футер*/

.footer {
    background: #000;
    padding: 50px 0 94px;
}

.credits {
    margin: 0 auto;
    color: #898989;
    font-size: 16px;
    width: 250px;
    text-align: center;
    cursor: default;
}


/* Кнопка вверх*/

#go-top {
    position: fixed;
    bottom: 25px;
    right: 70px;
    cursor: pointer;
    display: none;
    width: 60px;
    height: 50px;
    background: opacity: 0;
    line-height: 30px;
}

#go-top:hover {
	width: 65px;
	height: 55px;
}


/*Медиа запрос */

@media screen and (max-width: 992px) {
    .logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .offer {
        text-align: center;
    }
    .offer__text {
        text-align: center;
        margin: 0 auto;
    }
    .icons {
        margin-top: 30px;
        justify-content: center;
    }

    .icons__item:nth-child(3) {
        margin-right: 0;
    }

    .title__text {
        width: auto;
    }
    .form__input {
        margin-right: 0;
        width: 100%;
    }
    .form__btn {
        margin-top: 30px;
        width: 100%;
    }
  
   
}

@media screen and (max-width: 576px) {
    .offer__text {
        width: 100%;
    }

    .menu {
        flex-direction: column;
    }

    .menu__item {
        text-align: center;
        margin-bottom: 10px;
    }

    .ipad {
        width: 100%;
    }

 }